@import "setup";
@import "global";
@import "slider";

.controlsForm {
   position: absolute;
   display: flex;
   flex-direction: column;
   top: 0;
   left: 0;
   width: 300px;
   padding: 10px;
   margin: 10px;
   border: 1px solid rgba($color: #ffffff, $alpha: 0.2 );
   transition: all 1s;
   text-align: center;
   border-radius: 5px;
   background: rgba(0, 0, 0, 0.123);

   h3 {
      font-size: 1.4rem;
   }
}

@media (max-width: 800px) {
   .controlsForm {
      background: rgba(0, 0, 0, 0.788);
   }
}

.controlsHidden {
   left: -315px;
}

.labelDiv {
   margin: 5px 0;
}

.sliderDiv {
   margin: 10px 0;
}

.colorButtonDiv {
   display: flex;
   justify-content: space-around;
}

.randomColorButton {
   margin-top: 20px;
   border-radius: 3px;
   padding: 8px;
   width: 150px;
   background: transparent;
}

.nameSocials {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 15px 50px 0;
   margin-top: 15px;
   border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2 );
   
   span {
      font-size: 1rem;
   }

   .socials {
      font-size: 1.2rem;
   }

   a {
      padding: 5px 5px;
   }
}

.showControlsButton {
   position: absolute;
   top: 0;
   right: -50px;
}

