@import "setup";
@import "global";
@import "slider";



.controlsForm {
   position: absolute;
   display: flex;
   flex-direction: column;
   top: 0;
   left: 0;
   width: 300px;
   padding: 10px;
   margin: 10px;
   border: 1px solid rgba($color: #ffffff, $alpha: 0.2 );
   transition: all 1s;
   text-align: center;
}

.controlsHidden {
   left: -340px;
}

.colorButtonDiv {
   display: flex;
   justify-content: space-around;
}

.randomColorButton {
   margin-top: 20px;
   padding: 5px;
   width: 150px;
   background: transparent;
}

.showControlsButton {
   position: absolute;
   top: 0;
   right: -50px;
}

